<header class="header">
  <nav class="nav">
    <div class="nav-container">
      <div class="logo">Demo</div>

      <!-- Desktop Menu -->
      <!-- <ul class="nav-menu text-sm desktop-menu" role="tablist">
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="activeSection === 'home'"
            (click)="setActiveSection('home')"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'home'"
            aria-controls="home-section"
          >
            Home
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="activeSection === 'how-it-works'"
            (click)="setActiveSection('how-it-works')"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'how-it-works'"
            aria-controls="how-it-works-section"
          >
            How it works
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="activeSection === 'features'"
            (click)="setActiveSection('features')"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'features'"
            aria-controls="features-section"
          >
            Features
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="activeSection === 'pricing'"
            (click)="setActiveSection('pricing')"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'pricing'"
            aria-controls="pricing-section"
          >
            Pricing
          </button>
        </li>

        <li class="nav-item">
          <button
            class="nav-link"
            [class.active]="activeSection === 'contact-us'"
            (click)="setActiveSection('contact-us')"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'contact-us'"
            aria-controls="contact-us-section"
          >
            Contact Us
          </button>
        </li>
      </ul> -->

      <!-- Mobile Burger Button -->
      <!--    <button
        class="burger-btn mobile-only"
        (click)="toggleMobileMenu()"
        [class.active]="isMobileMenuOpen"
        aria-label="Toggle mobile menu"
      >
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button> -->

      <!--      <div class="action desktop-action">
        <a href="https://app.snapauditai.ca/register" class="third"
          >Free Trial</a
        >
        <a href="https://app.snapauditai.ca" class="primary">Sign In</a>
      </div> -->
    </div>

    <!-- Mobile Menu -->
    <!--    <div class="mobile-menu" [class.open]="isMobileMenuOpen">
      <ul class="mobile-nav-menu" role="tablist">
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link"
            [class.active]="activeSection === 'home'"
            (click)="setActiveSection('home'); closeMobileMenu()"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'home'"
            aria-controls="home-section"
          >
            Home
          </button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link"
            [class.active]="activeSection === 'how-it-works'"
            (click)="setActiveSection('how-it-works'); closeMobileMenu()"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'how-it-works'"
            aria-controls="how-it-works-section"
          >
            How it works
          </button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link"
            [class.active]="activeSection === 'features'"
            (click)="setActiveSection('features'); closeMobileMenu()"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'features'"
            aria-controls="features-section"
          >
            Features
          </button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link"
            [class.active]="activeSection === 'pricing'"
            (click)="setActiveSection('pricing'); closeMobileMenu()"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'pricing'"
            aria-controls="pricing-section"
          >
            Pricing
          </button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link"
            [class.active]="activeSection === 'contact-us'"
            (click)="setActiveSection('contact-us'); closeMobileMenu()"
            type="button"
            role="tab"
            [attr.aria-selected]="activeSection === 'contact-us'"
            aria-controls="contact-us-section"
          >
            Contact Us
          </button>
        </li>
        <li class="mobile-nav-item mobile-action">
          <a
            href="https://app.snapauditai.ca/register"
            class="third mobile-get-started"
            >Free Trial</a
          >

          <a href="https://app.snapauditai.ca" class="primary">Sign In</a>
        </li>
      </ul>
    </div> -->
  </nav>
</header>
