@use "@angular/material" as mat;
@use "buttons";

@use "variables" as var;
@use "mixins" as mixin;
@use "font-styles" as font;
@use "tailwindcss";
@use "select";

[data-theme="light"] {
  --page-bg: #{var.$background-color};
  --primary-color: #{var.$blue-500};
  --secondary-color: #{var.$secondary};
  --tertiary-color: black;
  --input-validation-error-color: #{var.$red-500};
  --bg-color-secondary: #{var.$grey-25};
  --box-shadow: #{var.$box-shadow-light};
  --page-shadow: #{var.$page-shadow-light};
  --outline-primary-color: #{var.$blue-450};
  --outline-hover-primary-color: #{var.$blue-800};
  --bg-color-primary: #{var.$blue-100};
  --placeholder-color: #{var.$dark-32};
  --bg-hover-color-primary: #{var.$blue-50};
  --bg-skeleton-color: #{var.$blue-16};
  --bg-color-tertiary: #{var.$dark-4};
  --border-color: #{var.$dark-8};
  --input-default: var(--page-bg);
  --input-active: #{var.$blue-450};
  --input-hover: #{var.$blue-350};
  --info-color: #{var.$blue-550};
  --error-color: #{var.$red-500};
  --success-color: #{var.$green-500};
  --warning-color: #{var.$orange-100};
  --warning-color-bold: #{var.$orange-700};
  --spinner-color: #{var.$blue-350};

  //btn
  //primary
  --btn-bg-color-primary: #{var.$blue-800};
  --btn-bg-active-color-primary: #{var.$blue-850};
  --btn-bg-hover-color-primary: #{var.$blue-750};
  --btn-color-primary: #{var.$background-color};
  --btn-border-color-primary: none;
  //secondary
  --btn-bg-color-secondary: #{var.$grey-100};
  --btn-bg-active-color-secondary: #{var.$grey-25};
  --btn-bg-hover-color-secondary: #{var.$grey-50};
  --btn-color-secondary: #{var.$secondary};
  --btn-border-color-secondary: #{var.$dark-16};
  //tertiary
  --btn-bg-color-tertiary: #{var.$dark-4};
  --btn-bg-active-color-tertiary: #{var.$dark-8};
  --btn-bg-hover-color-tertiary: #{var.$dark-16};
  //quaternary
  --btn-bg-color-quaternary: #{var.$blue-16};
  --btn-bg-active-color-quaternary: #{var.$blue-8};
  --btn-bg-hover-color-quaternary: #{var.$blue-32};
  --btn-color-quaternary: #{var.$secondary};
  //success
  --btn-bg-color-success: #{var.$green-50};
  --btn-bg-border-color-success: #{var.$green-100};
  --btn-color-success: #{var.$green-500};
  //warning
  --btn-bg-color-warning: var(--warning-color);
  --btn-bg-border-color-warning: var(--warning-color-bold);
  --btn-color-warning: var(--warning-color-bold);
  //error
  --btn-bg-color-error: #{var.$red-50};
  --btn-bg-hover-color-error: #{var.$red-50};
  --btn-bg-border-color-error: #{var.$red-100};
  --btn-color-error: #{var.$red-600};
  //table
  /*   --data-table-border: 1px solid #202040;
  --data-table-bg: transparent;
  --data-table-border-radius: 6px;
  // --data-table-row-line: inset 0 -1px 0 0 #131b40;
  --data-table-header-bg: rgb(var(--primary-color-rgb) / 0.7);
  --data-table-header-font: 500 12px/16px "Roboto";
  --data-table-cell-font: 400 14px/20px "Roboto";
  --data-table-header-text-color: #ffffff;
  --data-table-row-hover-bg: rgb(var(--primary-color-rgb) / 0.8); */
  //paging
}

html {
  font-size: 10px;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Snackbar styles
.success-snackbar {
  border-left: 5px solid#4caf50 !important;
  border-radius: 8px;
  color: white !important;
}

.error-snackbar {
  border-left: 5px solid #f44336 !important;
  border-radius: 8px;
  color: white !important;
}
:root {
  @include mat.snack-bar-overrides(
    (
      supporting-text-size: 16px
    )
  );
}

.mdc-button__label {
  font-size: 16px;
}

.mat-mdc-snackbar-surface {
  padding: 10px !important;
}
